<section id="environmental-programs" class="container">
    <h2>Programas Ambientais</h2>
    <div class="services">
        <a href="../pages/servico-gerenciamento-residuos.html" class="service">
            <i class="fas fa-recycle"></i>
            <h3>Plano de Gerenciamento de Resíduos Sólidos</h3>
            <p>Desenvolvemos planos eficientes para o gerenciamento de resíduos sólidos.</p>
        </a>
        <a href="../pages/servico-licenciamento.html" class="service">
            <i class="fas fa-file-alt"></i>
            <h3>Licenciamento Ambiental</h3>
            <p>Auxiliamos em todas as etapas do processo de licenciamento ambiental.</p>
        </a>
    </div>
</section>