<section id="redes-sociais" class="flex justify-center gap-4 mt-12 mb-12">
    <a href="https://www.facebook.com/adriane.caroline.79?locale=pt_BR">
        <i id="facebook-icon" class="fab fa-facebook text-3xl text-[#1d2a25] hover:text-[#1877F2] transform transition-all hover:scale-110"></i>
    </a>
    <a href="https://www.instagram.com/cumaru_lic.ambiental/">
        <i id="instagram-icon" class="fab fa-instagram text-3xl text-[#1d2a25] hover:text-[#E4405F] transform transition-all hover:scale-110"></i>
    </a>
    <a href="#">
        <i id="linkedin-icon" class="fab fa-linkedin text-3xl text-[#1d2a25] hover:text-[#0077B5] transform transition-all hover:scale-110"></i>
    </a>
</section>
